<div class="jumbotron py-3">
  <h1 class="display-4 text-center">Payment Detail Register</h1>
</div>

<div class="row">
  <div class="col-md-6">
    <app-payment-form [dataPass]= "passItem"></app-payment-form>
  </div>
  <div class="col-md-6">
      <table class="table">
            <thead class="thead-light">
                <tr>
                    <th>Card Owner</th>
                    <th>Card Number</th>
                    <th>Exp. Date</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of paymentList">
                    <td (click) = "onEditForm(item)">{{item.cardOwnerName}}</td>
                    <td (click) = "onEditForm(item)">{{item.cardNumber}}</td>
                    <td (click) = "onEditForm(item)">{{item.expirationDate}}</td>
                    <td>
                        <i class="far fa-trash-alt fa-lg text-danger" (click) = "deleteData(item)"></i>
                    </td>
                </tr>
            </tbody>
      </table>
  </div>
</div>
